<!DOCTYPE html>
<html>

<head>
    <title>Culqi v4</title>
    <script src="functions_scripts.js"></script>
</head>

<body>
    <script src="https://checkout.culqi.com/js/v4"></script>
    <script>
        Culqi.publicKey = '<%- publicKey %>';
        Culqi.settings({
            title: 'TIIMS',
            currency: 'PEN', 
            amount: '<%= body.amount %>', 
        });

        Culqi.options({
            lang: "auto",
            installments: false, // Habilitar o deshabilitar el campo de cuotas
            paymentMethods: {
                tarjeta: true,
                yape: true,
                bancaMovil: false,
                agente: false,
                billetera: false,
                cuotealo: false,
            },
            style: {
                logo: "https://static.culqi.com/v2/v2/static/img/logo.png",
            }
        });

        Culqi.options({
            style: {
                logo: 'https://culqi.com/LogoCulqi.png',
                bannerColor: '', // hexadecimal
                buttonBackground: '', // hexadecimal
                menuColor: '', // hexadecimal
                linksColor: '', // hexadecimal
                buttonText: '', // texto que tomará el botón
                buttonTextColor: '', // hexadecimal
                priceColor: '' // hexadecimal
            }
        });

        function culqi() {
            if (Culqi.token) {  // ¡Objeto Token creado exitosamente!
                const token = Culqi.token.id;
                console.log('Se ha creado un Token: ', token);
                //En esta linea de codigo debemos enviar el "Culqi.token.id"
                //hacia tu servidor con Ajax

            } else if (Culqi.order) {  // ¡Objeto Order creado exitosamente!
                const order = Culqi.order;
                console.log('Se ha creado el objeto Order: ', order);

            } else {
                // Mostramos JSON de objeto error en consola
                console.log('Error : ', Culqi.error);
            }
        };

        const btn_pagar = document.getElementById('btn_pagar');

        Culqi.culqi = () => {
            console.log('Se llama a la función Culqi.culqi');
        }

        Culqi.open();


        btn_pagar.addEventListener('click', function (e) {
            // Abre el formulario con la configuración en Culqi.settings y CulqiOptions
            console.log('Abriendo formulario de pago');
            Culqi.open();
            e.preventDefault();
        })
    </script>
</body>

</html>