<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Políticas Tiims</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <style>
    body {
      margin: 2vh 5vw;
    }

    h2 {
      color: #050d93;
    }

    p {
      text-align: left;
    }

    .without-decoration {
      list-style: none;
    }
  </style>
</head>

<body>
  <div class="row">
    <h2>Política de Privacidad y Tratamiento de Datos Personales</h2>
    <p>
      De conformidad con lo establecido en la Ley N° 29733 – “Ley de
      Protección de Datos Personales”, su Reglamento, Decreto Supremo N°
      003-2013-JUS y las demás disposiciones complementarias, el titular del
      presente banco de datos en el que se almacenaran los datos personales
      facilitados en la presente solicitud es GRUPO TIIMS S.A.C., con Registro
      Único de Contribuyentes No. 20610656090, con domicilio para estos
      efectos en AV. AFRANIO DE MELLO FRANCO NRO. 630 INT. 1603 (A LA ESPALDA
      DE LA SUNARP DE JR HUASCAR.), Jesús María, Lima-Perú (en adelante,
      “TIIMS”). TIIMS obtiene del Titular de los Datos Personales (en
      adelante, el “Titular”) la presente declaración de consentimiento para
      el tratamiento de sus datos personales.
    </p>
    <p>
      Esta política de privacidad y tratamiento de datos personales (en
      adelante, la “Política”) entrarán en vigor desde que el Titular de los
      datos personales preste su consentimiento a la presente Política y
      estará vigente hasta que éste revoque la autorización al tratamiento de
      sus datos.
    </p>
    <p>
      Como parte normal de nuestras actividades generales, recogemos y, en
      algunos casos, revelamos información sobre nuestros Usuarios (en
      adelante, el “Titular”) de nuestra aplicación (en adelante, la
      “Plataforma”).
    </p>
    <p>
      El Titular acepta expresamente y otorga su consentimiento libre,
      expreso, previo, informado e inequívoco para que TIIMS, quien es titular
      de la base de datos, utilice y realice el tratamiento de la información
      personal e identificable del Titular bajo la presente Política.
    </p>
    <p>
      Con el consentimiento del Titular, TIIMS podrá recopilar la información
      que proporcione (detallada en el numeral 2.1 de la presente Política).
      De la misma manera, el Titular autoriza a TIIMS a recopilar, acceder,
      registrar, organizar, almacenar, conservar, elaborar, modificar,
      extraer, consultar, utilizar, bloquear, entregar para tratamiento por
      encargo, transferir a nivel nacional e internacional, comunicar,
      modificar, suprimir y, en general, tratar sus datos personales.
    </p>
    <p>
      La privacidad de la información del Titular es muy importante para
      TIIMS. Es por esa razón que se toman las precauciones y recaudos para
      resguardar su información, utilizando los mecanismos de seguridad
      informática de protección de la información más completos y eficaces.
    </p>
    <p class="subtitle">
      Cláusula Primera: Derechos de acceso, cancelación y rectificación de la
      Información Personal:
    </p>
    <ul class="without-decoration">
      <li>
        <p>
          <strong>1.1</strong> El Titular ejercita los derechos de acceder a
          sus datos que están en posesión de TIIMS, conocer las
          características de su tratamiento, rectificarlos en caso de ser
          inexactos o incompletos, solicitar que sean suprimidos o cancelar su
          Información Personal (más adelante definida), incluyendo su
          dirección de e-mail, así como a oponerse al tratamiento de la misma
          y a ser informado de las cesiones y/o transferencias internacionales
          de la Información Personal llevadas a cabo, todo ello de conformidad
          a lo dispuesto en la normativa aplicable.
        </p>
        <p>
          A fin de ejercer los derechos antes mencionados, el Titular deberá
          presentar una solicitud mediante nuestra Plataforma la solicitud
          respectiva en los términos que establece el reglamento de la Ley N°
          29733, incluyendo los siguientes datos: [nombre del titular y
          domicilio u otro medio para recibir respuesta; documentos que
          acrediten su identidad o la presentación legal, descripción clara y
          precisa de los datos respecto de los que busca ejercer sus derechos
          y otros elementos o documentos que faciliten la localización de los
          datos].
        </p>
        <p>
          TIIMS comunicará a los terceros a quienes haya transferido los datos
          del Titular, sin embargo, no será responsable por los actos de los
          terceros.
        </p>
      </li>
      <li>
        <p>
          <strong>1.2</strong> El Titular garantiza y responde, en cualquier
          caso, de la veracidad, exactitud, vigencia y autenticidad de la
          Información Personal facilitada, y se comprometen a mantenerla
          debidamente actualizada.
        </p>
      </li>
      <li>
        <p>
          <strong>1.3</strong> Una vez registrado en TIIMS, el Titular de los
          datos podrá revisar y cambiar la información que ha enviado a TIIMS
          durante el proceso de registro, incluyendo:
        </p>
        <ul>
          <li>
            El usuario y dirección de correo electrónico. Sin perjuicio de los
            cambios que realice, TIIMS conservará la información personal
            anterior por motivos de seguridad y control del fraude.
          </li>
          <li>
            La información de la registración como: domicilio, ciudad, región,
            código postal, número principal de teléfono, número secundario de
            teléfono, correo electrónico, etc.
          </li>
          <li>La clave</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>1.4</strong> TIIMS conservará la Información Personal del
          Titular por un periodo de diez (10) años a fin de resolver disputas
          o reclamos, detectar problemas o incidencias y solucionarlos, y dar
          cumplimiento a lo dispuesto en los Términos y Condiciones. TIIMS
          podrá modificar esta Política y/o las prácticas de envío de e-mails.
          En caso que TIIMS modifique la Política, éste notificará al Titular
          publicando una versión actualizada de la Política en esta sección o
          mediante el envío de un e-mail o informándolo en la página principal
          u otras secciones de la Plataforma para mantener actualizado al
          Titular de los cambios realizados. El Titular deberá decidir si
          aceptar o no las modificaciones a la Política. En el caso que el
          Titular no acepte los nuevos términos y condiciones de la Política,
          el vínculo entre éste y TIIMS quedará disuelto y la Información
          Personal de dicho Titular de los datos no será usada de otra forma
          que la que fue informada al momento de recabarse.
        </p>
      </li>
      <li>
        <p>
          <strong>1.5</strong> De considerar el Titular que no ha sido
          atendido en el ejercicio de sus derechos puede presentar un reclamo
          ante la Dirección de Protección de Datos Personales, dirigiéndose a
          la mesa de partes del Ministerio de Justicia y Derechos Humanos:
          Calle Scipion Llona 350, Miraflores, Lima, Perú.
        </p>
      </li>
    </ul>
    <p class="subtitle">Cláusula Segunda: La Información Personal</p>
    <ul class="without-decoration">
      <li>
        <p>
          <strong>2.1</strong> A fin de acceder a la Plataforma de TIIMS, los
          Titulares de los datos deben registrarse, suministrando ciertos
          datos personales completos y exactos. TIIMS podrá solicitar, recabar
          y almacenar la siguiente información personal: apodo o seudónimo
          (nombre de Titular de los datos) para operar en el sitio de TIIMS,
          nombre y apellido, número de documento o identificación válida,
          información física de contacto (como número de teléfono domicilio,
          dirección de e-mail, etc.) (en adelante, la “Información Personal”).
          TIIMS podrá confirmar la Información Personal suministrada acudiendo
          a entidades públicas, compañías especializadas o centrales de
          riesgo, para lo cual el Titular de los datos mediante el presente lo
          autoriza expresamente. La información que TIIMS obtenga de estas
          entidades será tratada en forma confidencial.
        </p>
      </li>
      <li>
        <p>
          <strong>2.2</strong> El Titular de los datos que se registre en
          TIIMS a través de su Cuenta Personal, consiente expresamente que
          TIIMS tenga acceso, en cualquier momento, a la totalidad de la
          información contenida en su Cuenta Personal, incluyendo en
          particular, pero sin limitación, a su Información Personal,
          información sobre sus intereses, gustos, contactos y cualquier otro
          contenido alojado en su Cuenta Personal.
        </p>
      </li>
    </ul>
    <p class="subtitle">
    <ul>
      <li>
        <p><strong>3.1</strong> Para suministrar de manera eficiente el servicio y a fin de que el Titular pueda aplicar
          de manera ágil y fácil a los servicios, TIIMS requiere cierta información de carácter personal, incluyendo
          dirección de e-mail. La recolección de información permite ofrecer al Titular los servicios y funcionalidades
          que se adecuen mejor a sus necesidades. La Información Personal que se recaba tiene las siguientes
          finalidades:</p>
        <ul>
          <li>Que la persona que brinda los servicios especializados (“Los Especialistas”) ubique en tiempo y espacio al
            Titular para poder prestar un servicio eficiente y rápido.</li>
          <li>Por esta razón TIIMS compartirá los datos personales del Titular con los Especialistas, para que estos se
            comuniquen con el Titular ante cualquier eventualidad que surja durante la prestación de los servicios
            especializados.</li>
          <li>La Información Personal, sólo podrá ser utilizada en el marco de la prestación de los servicios
            especializados y no deberá ser empleada por los Especialistas con fines mercantiles, publicitarios o
            promocionales u otras actividades no relacionadas con TIIMS. </li>
          <li>Desarrollar estudios internos sobre los intereses, comportamientos y demografía del Titular para
            comprender mejor sus necesidades e intereses y ofrecer mejores servicios o proveerles información
            relacionada.</li>
        </ul>
        <p>Adicionalmente, usted autoriza a TIIMS para que pueda usar su Información Personal para:</p>
        <ul>
          <li>Enviar información o mensajes al Titular por e-mail, sms (mensaje de texto y/o a cualquier otro tipo de
            dispositivos móviles, sobre publicidad o promociones, banners, de interés para el Titular, noticias sobre
            TIIMS. Si el Titular lo prefiere, puede solicitar que lo excluyan de las listas para el envío de información
            promocional o publicitaria, mediante la sección de Soporte disponible a través de la plataforma.En caso no
            acepte alguno(s) de los tratamientos de datos personales, esto no afectara a los demás.</li>
        </ul>
        <p>Sus datos personales solo serán utilizados con propósitos limitados, tal como lo aquí expuestos.</p>
      </li>
      <li>
        <p><strong>3.2</strong> TIIMS compartirá la Información Personal (incluyendo dirección de e-mail) con los
          proveedores de servicios o las empresas de “outsourcing” o con las empresas con quienes TIIMS tenga una
          relación de colaboración o alianza, que contribuyan a mejorar o facilitar las operaciones a través de TIIMS.
          TIIMS velará porque se cumplan ciertos estándares, mediante la firma de acuerdos o convenios cuyo objeto sea
          la privacidad de los datos personales del Titular. En algunos casos, estos proveedores de servicios serán
          quienes recojan información directamente del Titular (por ejemplo, si les solicitamos que realicen encuestas o
          estudios). En tales casos, podrá recibir una notificación acerca de la participación de un proveedor de
          servicios en tales actividades, y quedará a discreción del Titular toda la información que quiera brindarle y
          los usos adicionales que los proveedores decidan hacer. En caso el Titular le facilite por propia iniciativa
          información adicional a dichos prestadores de servicios directamente, tales prestadores usarán esta
          información conforme a sus propias políticas de privacidad. TIIMS no se hace responsable por el uso indebido
          de la Información Personal del Titular que hagan compañías o sitios de Internet que actúen por cuenta propia.
        </p>
      </li>
      <li>
        <p><strong>3.3</strong> El Titular reconoce y acepta que TIIMS podrá revelar o compartir Información Personal
          con terceros que son proveedores de servicios o empresas aliadas, afiliadas o relacionadas con TIIMS. En caso
          de que no sea así, requerirá el consentimiento del Titular de los datos para hacerlo.</p>
      </li>
    </ul>
    <p class="subtitle">
      Cláusula Cuarta: Confidencialidad de la Información Personal
    </p>
    <p>Una vez registrado en la Plataforma, TIIMS no venderá, intercambiará, alquilará o compartirá la Información
      Personal del Titular excepto en las formas establecidas en esta Política. Sin perjuicio de ello, el Titular
      consiente en forma expresa que TIIMS transfiera total o parcialmente la Información Personal a cualquiera de las
      sociedades controladas, controlantes y/o vinculadas con TIIMS, a cualquier título y en el momento, forma y
      condiciones que estime pertinente. TIIMS hará todo lo posible para proteger la privacidad de la Información
      Personal. Sin perjuicio de ello, puede suceder que, en virtud de órdenes judiciales, cuando se encuentre permitido
      por ley, o en caso de prevención de lavado de activos o financiamiento del terrorismo, TIIMS podrá revelar la
      Información Personal a las autoridades o terceras partes sin el consentimiento del Titular.</p>
    <p class="subtitle">
      Cláusula Quinta: Menores de Edad
    </p>
    <ul>
      <li>
        <p><strong>5.1</strong> La Aplicación está dirigida exclusivamente a personas mayores de 18 años, estando por
          tanto restringida la entrada de menores de 18 años al mismo. Sin perjuicio de lo anterior, TIIMS se reserva el
          derecho de verificar, por los medios que considere más oportunos, la edad real de cualquier Titular de los
          datos.</p>
      </li>
      <li>
        <p><strong>5.2</strong> Bajo sospecha de que un Titular de los datos de la Aplicación sea menor de 18 años, y de
          que ha falseado los datos que se requieren para su acceso, TIIMS podrá denegar al referido el acceso a los
          servicios ofrecidos.</p>
      </li>
    </ul>
    <p class="subtitle">Cláusula Sexta: Requerimientos Legales</p>
    </p>
    <p>
      TIIMS cooperará con las autoridades competentes y con otros terceros para garantizar el cumplimiento de las leyes.
      TIIMS podrá revelar la Información Personal del Titular sin su consentimiento únicamente cuando esté permitido por
      ley, requerido por mandato judicial, o en casos de prevención de lavado de activos o financiamiento del terrorismo
      o el caso que dicho Titular participa de actividades ilegales. En tales situaciones, TIIMS colaborará con las
      autoridades competentes con el fin de salvaguardar la integridad y la seguridad de la comunidad y la de sus
      Titulares de los datos.
    </p>
    <p class="subtitle">
      Cláusula Séptima: Seguridad y Almacenamiento de la Información Personal
    </p>
    <ul>
      <li>
        <p><strong>7.1</strong> TIIMS está obligado a cumplir con toda la normativa aplicable en materia de medidas de
          seguridad aplicables a los datos personales. TIIMS considera la Información Personal del Titular como un
          activo que debe ser protegido de cualquier pérdida o acceso no autorizado. A tal fin TIIMS emplea diversas
          técnicas de seguridad para proteger tales datos de accesos no autorizados por Titulares de los datos de dentro
          o fuera de la compañía. Sin perjuicio de lo expuesto, considerando que internet es un sistema abierto, de
          acceso público, TIIMS no puede garantizar que terceros no autorizados no puedan eventualmente superar las
          medidas de seguridad y utilizar la Información Personal en forma indebida.</p>
      </li>
      <li>
        <p><strong>7.2</strong> El Titular conoce y acepta expresamente que TIIMS, a su exclusivo criterio, recabe,
          almacene y eventualmente monitoree el intercambio de mensajes y correos electrónicos entre el Titular y los
          Especialistas efectuado dentro de la Plataforma, con el único objetivo de contribuir a la seguridad de las
          relaciones y comunicaciones que se desarrollan a través de la Plataforma.</p>
      </li>
      <li>
        <p><strong>7.3</strong> TIIMS no se hace responsable por interceptaciones ilegales o violación de sus sistemas o
          bases de datos por parte de personas no autorizadas. TIIMS, tampoco se hace responsable por la indebida
          utilización de la información obtenida por esos medios.</p>
      </li>
      <li>
        <p><strong>7.4</strong> La Información Personal de Titular será almacenada en la base de datos de TIIMS, la
          misma que se encuentra en un archivo o soporte automatizado de datos personales. El archivo o soporte de datos
          personales de los Titulares de los datos de TIIMS reside en Lima, Perú.</p>
      </li>
    </ul>
    <p class="subtitle">
      Cláusula Octava: Cambio en las preferencias de e-mails:
    </p>
    <ul>
      <li>
        <p><strong>8.1</strong> Sin perjuicio que TIIMS quiere mantener al Titular actualizado en todo momento sobre
          promociones, novedades, cambios, etc., el Titular puede seleccionar los e-mails e información promocional que
          gustarían recibir de TIIMS, siempre que el Titular haya prestado su consentimiento para recibir
          esta información.
        </p>
      </li>
      <li>
        <p><strong>8.2</strong> En caso que el Titular no quiera recibir dichos correos electrónicos, éste podrá
          des-inscribirse cambiando sus preferencias en el e-mail siguiendo las instrucciones que TIIMS proporciona en
          sus comunicaciones o bien accediendo a su Cuenta Personal. En esa sección el Titular de los datos podrá
          seleccionar las preferencias para que sean tenidas en cuenta por TIIMS en las futuras comunicaciones o
          enviando sus preferencias por correo a la dirección postal indicada en estas Políticas de Privacidad.</p>
      </li>
    </ul>
    <p>La presente Política de privacidad rige a partir del momento en que el Titular preste su consentimiento. Por lo
      tanto, declaro expresamente que he leído, entendido y aceptado la presente Política de privacidad de GRUPO TIIMS
      S.A.C.</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>